{% extends "layout.html" %}

{% block title %}"{{ book.title }}" by {{ book.author }}{% endblock %}

{% block main %}


<div class="container border">
	<div class="row">
		<div class="col-md-8 border">
			<div class="row border">
				<div class="col-md-4 border">
					<img width="180px" height="298px" alt="'{{ book.title }}' by {{ book.author }}" class="img-thumbnail img-fluid" src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg">
				</div>
				<div class="col-md-8 border">
					<h2>{{ book.title }}</h2>
					<h4 class="text-muted"><span class="by">by</span> {{ book.author }}</h4>

					<div class="ratings">
					{% for z in range(5) %}
					{# сначала сравниваем округленный рейтинг INT с циклом #}
						{% if reviews['books'][0]['average_rating']|int > z %}
						<span class="starRedOn"></span>
					{# теперь проверяем, если рейтинг - это не целое #}
						{% elif reviews['books'][0]['average_rating']|float > z %}
					{# рисуем полвинку, меньше половинки или больше половинки звезды в зависимости от рейтинга #}
							{% if reviews['books'][0]['average_rating']|float - reviews['books'][0]['average_rating']|int == 0.5 %}
						<span class="starHalf"></span>
							{% elif 0.5 > reviews['books'][0]['average_rating']|float - reviews['books'][0]['average_rating']|int %}
						<span class="starHalfMinus"></span>
							{% else %}
						<span class="starHalfPlus"></span>
							{% endif %}
						{% else %}
						<span class="starOff"></span>
						{% endif %}
					{% endfor %}
						<p>{{ reviews['books'][0]['average_rating'] }}<br />{{ reviews['books'][0]['work_ratings_count'] }} ratings</p>
					</div>

					<h6>Published {{ book.year }}<br />
					ISBN: {{ book.isbn }}</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-12 border">
					{% if others_reviews %}
					<h3>Reviews</h3>
					<table class="table table-hover compact" id="others_reviews">
						<thead>
							<tr>
								<th scope="col">Username</th>
								<th scope="col">Rating</th>
								<th scope="col">Review</th>
							</tr>
						</thead>

						<tbody>
							{% for others_review in others_reviews %}
							<tr>
								<td>{{ others_review.username }}</td>
								<td>
								{% if others_review.rating>0 %}
								<div class="stars">	
								{% for z in range(5) %}
									{% if others_review.rating|int > z %}
									<span class="starYellowOn"></span>	
									{% else %}
									<span class="starOff"></span>
									{% endif %}
								{% endfor %}
								</div>
								{% endif %}
								</td>
								{% if others_review.short_review !="" %}
								<td>{{ others_review.short_review }} <button data-rating="{{ others_review.rating }}" data-username="{{ others_review.username }}" data-review="{{ others_review.review }}" type="button" class="badge badge-info point" data-toggle="modal" data-target="#review_modal">more</button></td>
								{% else %}
								<td></td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>

					</table>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="col-md-4 border">
			<h3>Your rating</h3>

			<div id="rating_container">
	
			{% if review != None and review.rating != None and review.rating>0  %}
				<div class="stars">	
				{% for z in range(5) %}
			{# сначала сравниваем округленный рейтинг INT с циклом #}
					{% if review.rating|int > z %}
					<span class="starYellowOn"></span>	
					{% else %}
					<span class="starOff"></span>
					{% endif %}
				{% endfor %}
				</div>
				<p><a href="#" data-rating='0' onclick="change_rating(this.getAttribute('data-rating'));" class="small_link" title="It will drop your rating">Delete your rating</a></p>
			{% else %}
				<div class="stars d-inline-flex flex-row-reverse">
					<a href="#" class="star starOff"  data-rating='5' onclick="change_rating(this.getAttribute('data-rating'));" title="it was amazing" href=""></a>
					<a href="#" class="star starOff"  data-rating='4' onclick="change_rating(this.getAttribute('data-rating'));" title="really liked it" href=""></a>
					<a href="#" class="star starOff"  data-rating='3' onclick="change_rating(this.getAttribute('data-rating'));" title="liked it" href=""></a>
					<a href="#" class="star starOff"  data-rating='2' onclick="change_rating(this.getAttribute('data-rating'));" title="it was ok" href=""></a>
					<a href="#" class="star starOff"  data-rating='1' onclick="change_rating(this.getAttribute('data-rating'));" title="did not like it" href=""></a>
				</div>
				<p class="small_link">Rate this book</p>
			{% endif %}
			</div> <!-- RATING CONTAINER end-->
    
			<div id="div_ok" class='h_idn'>All changes saved</div>
    
			<div id="review_container">
				<div class="form-group">
				{% if review != None and review.review != None %}
					<textarea class="form-control" id="review_text" placeholder="Your review" rows="8">{{ review.review }}</textarea>
				{% else %}
					<textarea class="form-control" id="review_text" placeholder="Your review" rows="8"></textarea>
				{% endif %}
				</div>
				<button id="save" onclick="review_save();" class="btn btn-primary mb-2" disabled >Save</button>
			</div><!-- REVIEW CONTAINER end-->
		</div>
	</div>
</div>




<!-- MODAL -->
<div class="modal fade" id="review_modal" tabindex="-1" role="dialog" aria-labelledby="review_modal_Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="review_modal_Label"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div id="modal_rating">
          
          </div>
          <hr>
          <div id="modal_review">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>



<script>


$('#review_modal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var review = button.data('review')
  var rating = button.data('rating')
  var username = button.data('username')
  $( ".inner" ).append( "<p>Test</p>" );
  var modal = $(this)
  modal.find('.modal-title').text('Review by "' + username+ '"')
  modal.find('#modal_review').text(review)
  modal.find('#modal_rating').empty()
  for (var i = 0; i  < 5; i++){
	if (rating > i ) {
		modal.find('#modal_rating').append("<span class='starYellowOn'></span>")
	}
	else {
		modal.find('#modal_rating').append("<span class='starOff'></span>")
	}
  }
})




var textarea = document.getElementById('review_text');
textarea.addEventListener('keydown', (e) => {
  var btn_save = document.getElementById("save");
  btn_save.removeAttribute("disabled");
});


function review_save(){
 var review_text = document.getElementById("review_text").value;
    $.post("{{ url_for('change_review') }}",
     {
       book_id: {{ book.id }},
       review_text: review_text
     },
     function(data, status){
     if (status == "success"){
          document.getElementById('review_container').innerHTML = data;
          var btn_save = document.getElementById("save");
          btn_save.setAttribute("disabled","disabled");
          document.getElementById("div_ok").setAttribute('class', 'v_sbl');
          setTimeout("document.getElementById('div_ok').setAttribute('class','h_idn');", 4000);
     }
     else
        alert("ERROR. Changing review" + "\nStatus: " + status);
     });     
}


function change_rating(rating){
    if (rating == "")
        return;

 $.post("{{ url_for('change_rating') }}",
  {
    book_id: {{ book.id }},
    rating: rating
  },
  function(data, status){
    if (status == "success"){
		document.getElementById('rating_container').innerHTML = data;
	}
    else
		alert("ERROR. Changing rating" + "\nStatus: " + status);
  });     
}
</script>

	
{% endblock %}
